<a href="https://colab.research.google.com/github/sandeep92134/PYTHON-Data-Cleaning/blob/master/Chapter%204/Exersize%206.%20Using%20k-nearest%20neighbor%20to%20find%20outliers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyod

Collecting pyod
  Downloading https://files.pythonhosted.org/packages/37/50/94ac3c301b06e291ce52938e4a037b147cf01b40ff458dea5441ac42addf/pyod-0.8.7.tar.gz (101kB)
     |████████████████████████████████| 102kB 4.5MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pyod) (1.0.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pyod) (3.2.2)
Requirement already satisfied: numpy>=1.13 in /usr/local/lib/python3.7/dist-packages (from pyod) (1.19.5)
Requirement already satisfied: numba>=0.35 in /usr/local/lib/python3.7/dist-packages (from pyod) (0.51.2)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.7/dist-packages (from pyod) (1.1.5)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from pyod) (1.4.1)
Requirement already satisfied: scikit_learn>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from pyod) (0.22.2.post1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from pyod) (1.15.0)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from pyod) (0.10.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pyod) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pyod) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pyod) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pyod) (0.10.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.35->pyod) (53.0.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.35->pyod) (0.34.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pyod) (2018.9)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->pyod) (0.5.1)
Building wheels for collected packages: pyod
  Building wheel for pyod (setup.py) ... done
  Created wheel for pyod: filename=pyod-0.8.7-cp37-none-any.whl size=115979 sha256=efa28f00e3f327c1c6211a88df0a880883af94c9bf04d28e712d35614b5020ca
  Stored in directory: /root/.cache/pip/wheels/b7/8a/c9/5fe3f32692ad445fe573cf5b953d7a0d55dc1f7c8e229ebda0
Successfully built pyod
Installing collected packages: pyod
Successfully installed pyod-0.8.7

In [2]:
# import pandas, pyod, and sklearn
import pandas as pd
from pyod.models.knn import KNN
from sklearn.preprocessing import StandardScaler
pd.set_option('display.width', 80)
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 20)
pd.options.display.float_format = '{:,.2f}'.format
covidtotals = pd.read_csv("https://raw.githubusercontent.com/sandeep92134/PYTHON-Data-Cleaning/master/Chapter%204/datasets/covidtotals.csv")
covidtotals.set_index("iso_code", inplace=True)

In [3]:
# create a standardized dataset of the analysis variables
standardizer = StandardScaler()
analysisvars = ['location','total_cases_pm','total_deaths_pm',\
  'pop_density','median_age','gdp_per_capita']
covidanalysis = covidtotals.loc[:, analysisvars].dropna()
covidanalysisstand = standardizer.fit_transform(covidanalysis.iloc[:, 1:])

In [4]:
# run the KNN model and generate anomaly scores
clf_name = 'KNN'
clf = KNN(contamination=0.1)
clf.fit(covidanalysisstand)
y_pred = clf.labels_
y_scores = clf.decision_scores_

In [5]:
# show the predictions from the model
pred = pd.DataFrame(zip(y_pred, y_scores), 
  columns=['outlier','scores'], 
  index=covidanalysis.index)
pred.sample(10, random_state=1)

          outlier  scores
iso_code
LBY             0    0.37
NLD             1    1.56
BTN             0    0.19
HTI             0    0.43
EST             0    0.46
LCA             0    0.43
PER             0    1.41
BRB             0    0.77
MDA             0    0.91
NAM             0    0.31

In [6]:
pred.outlier.value_counts()

0    157
1     18
Name: outlier, dtype: int64

In [7]:
pred.groupby(['outlier'])[['scores']].agg(['min','median','max'])

        scores
           min median  max
outlier
0         0.08   0.36 1.52
1         1.55   2.10 9.48

In [8]:
# show covid data for the outliers
covidanalysis.join(pred).loc[pred.outlier==1,\
  ['location','total_cases_pm','total_deaths_pm','scores']].\
  sort_values(['scores'], ascending=False)

                      location  total_cases_pm  total_deaths_pm  scores
iso_code
SGP                  Singapore        5,962.73             3.93    9.48
QAT                      Qatar       19,753.15            13.19    8.00
HKG                  Hong Kong            0.00             0.00    7.77
BEL                    Belgium        5,037.35           816.85    3.54
BHR                    Bahrain        6,698.47            11.17    2.84
LUX                 Luxembourg        6,418.78           175.73    2.44
ESP                      Spain        5,120.95           580.20    2.18
KWT                     Kuwait        6,332.42            49.64    2.13
GBR             United Kingdom        4,047.40           566.97    2.10
ITA                      Italy        3,853.99           552.66    2.09
IRL                    Ireland        5,060.96           334.56    2.07
BRN                     Brunei          322.30             4.57    1.92
USA              United States        5,408.39           315.35    1.89
FRA                     France        2,324.88           441.25    1.86
MDV                   Maldives        3,280.04             9.25    1.82
ISL                    Iceland        5,292.31            29.30    1.58
NLD                Netherlands        2,710.38           347.60    1.56
ARE       United Arab Emirates        3,493.99            26.69    1.55