<a href="https://colab.research.google.com/github/sandeep92134/PYTHON-Data-Cleaning/blob/master/Chapter%201/Exersize%206.%20Persisting%20tabular%20data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyarrow

Requirement already satisfied: pyarrow in /usr/local/lib/python3.6/dist-packages (0.14.1)
Requirement already satisfied: six>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.15.0)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.19.5)

In [2]:
import pandas as pd
import pyarrow

In [3]:
# import the land temperature data
landtemps = pd.read_csv('https://raw.githubusercontent.com/sandeep92134/PYTHON-Data-Cleaning/master/Chapter%201/datasets/landtempssample.csv',
    names=['stationid','year','month','avgtemp','latitude',
      'longitude','elevation','station','countryid','country'],
    skiprows=1,
    parse_dates=[['month','year']],
    low_memory=False)

landtemps.rename(columns={'month_year':'measuredate'}, inplace=True)
landtemps.dropna(subset=['avgtemp'], inplace=True)
landtemps.dtypes

measuredate    datetime64[ns]
stationid              object
avgtemp               float64
latitude              float64
longitude             float64
elevation             float64
station                object
countryid              object
country                object
dtype: object

In [4]:
landtemps.set_index(['measuredate','stationid'], inplace=True)

In [5]:
# write extreme values of temperature out to Excel and CSV files
extremevals = landtemps[(landtemps.avgtemp < landtemps.avgtemp.quantile(.001)) | (landtemps.avgtemp > landtemps.avgtemp.quantile(.999))]
extremevals.shape

(158, 7)

In [6]:
extremevals.sample(7)

                         avgtemp  latitude  ...  countryid        country
measuredate stationid                       ...
1998-05-01  NG000001080    34.73   13.4700  ...         NG          Niger
1942-07-01  USC00024977    34.84   33.4992  ...         US  United States
1996-05-01  SU000062600    34.68   21.8200  ...         SU          Sudan
2004-06-01  MUM00041304    34.99   18.1330  ...         MU           Oman
1981-02-01  RSM00024371   -35.38   66.8000  ...         RS         Russia
2019-06-01  SU000062641    36.50   19.5830  ...         SU          Sudan
1965-12-01  RSXLT854187   -35.59   70.6667  ...         RS         Russia

[7 rows x 7 columns]

In [ ]:
extremevals.to_excel('/content/tempext.xlsx')
extremevals.to_csv('https://raw.githubusercontent.com/sandeep92134/PYTHON-Data-Cleaning/master/Chapter%201/Views/tempext.csv')

In [8]:
landtemps.to_pickle('/content/landtemps.pkl')
landtemps.reset_index(inplace=True)
landtemps.to_feather("/content/landtemps.ftr")

In [9]:
landtemps = pd.read_pickle('/content/landtemps.pkl')
landtemps.head(2).T

measuredate     2000-04-01  1940-05-01
stationid      USS0010K01S CI000085406
avgtemp               5.27       18.04
latitude              39.9      -18.35
longitude          -110.75     -70.333
elevation           2773.7          58
station      INDIAN_CANYON       ARICA
countryid               US          CI
country      United States       Chile

In [10]:
landtemps = pd.read_feather('/content/landtemps.ftr')
landtemps.head(2).T

                               0                    1
measuredate  2000-04-01 00:00:00  1940-05-01 00:00:00
stationid            USS0010K01S          CI000085406
avgtemp                     5.27                18.04
latitude                    39.9               -18.35
longitude                -110.75              -70.333
elevation                 2773.7                   58
station            INDIAN_CANYON                ARICA
countryid                     US                   CI
country            United States                Chile